---
import { get } from "@scripts/techstack.ts";

type Project = {
  title: string;
  source: string;
  view?: string;
  image: string;
  description: string;
  languages: string[];
};

const projects: Project[] = [];
projects.push({
  title: "File Crow",
  source: "https://github.com",
  image: "https://placehold.co/768x432.png",
  description:
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim",
  languages: ["Go"],
});
projects.push({
  title: "Lorem Ipsum",
  source: "https://github.com",
  image: "https://placehold.co/768x432.png",
  view: "https.example.com",
  description:
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim",
  languages: ["TypeScript", "HTML", "CSS"],
});
---

<section class="mt-8">
  <h2 class="text-foreground text-2xl mb-5 font-bold">Projects</h2>
  <div class="grid gap-5">
    {
      projects.map((p) => (
        <article class="bg-secondary/25 border-border border-2 rounded-lg project">
          <img src={p.image} alt="" class="rounded-t-lg aspect-3/2" />
          <div class="px-4 py-3 ">
            <div class="flex gap-2 pt-1">
              {p.languages.map((l) => (
                <img src={get(l)} alt={l} class="w-5 h-5" />
              ))}
            </div>

            <h3 class="mt-2 text-foreground text-lg font-bold">{p.title}</h3>
            <p class="my-1.5">{p.description}</p>
          </div>

          <div class="flex px-4 pb-4 text-sm project-links">
            {p.view && (
              <a
                href={p.view}
                class="flex gap-2 py-2 px-3 border-border border-2 rounded-lg"
              >
                <svg
                  viewBox="0 -960 960 960"
                  class="h-6 w-6"
                  fill="currentcolor"
                >
                  <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                </svg>
                <span class="mt-0.5">View</span>
              </a>
            )}

            <a
              href={p.source}
              class="flex gap-2 ml-auto py-2 px-3 border-border border-2 rounded-lg"
            >
              <svg viewBox="0 -960 960 960" class="h-6 w-6" fill="currentcolor">
                <path d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z" />
              </svg>
              <span class="mt-0.5">Source</span>
            </a>
          </div>
        </article>
      ))
    }
  </div>
</section>
